body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffc0cb;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
}

.container {
    text-align: center;
}

#texto_sim {
    font-size: 2.5em;
    font-weight: bold;
    color: #FF6347;
    margin-bottom: 15px;
}

.container-gif img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}